.color_picker_container {
    margin-top: 7px;
    z-index: 1000;
    position: relative;
  }
  
.color_picker_toggle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.color_picker_panel {
    position: absolute;
    top: 50px;
    right: 0;
    /* background-color: var(--ifm-background-color); */
    background-color: white;
    border: 1px solid var(--ifm-color-emphasis-300);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.color_picker_panel label {
    font-weight: bold;
}

.color_picker_panel input[type="range"] {
    width: 200px;
}

.theme_toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=range]::-moz-range-track {
    background: transparent;
}

input[type=range] {
    background-image: linear-gradient( 89.7deg, rgba(223,0,0,1) 2.7%, rgba(214,91,0,1) 15.1%, rgba(233,245,0,1) 29.5%, rgba(23,255,17,1) 45.8%, rgba(29,255,255,1) 61.5%, rgba(5,17,255,1) 76.4%, rgba(202,0,253,1) 92.4% );
    border-radius: 10px;
}